.shop{
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;

}
.products{
    width: 73%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    position: relative;
    gap: 30px;
}
.shop .cartItem{
    width: 23%;
    height: 100%;
    padding: 10px;
    background-color: #FFE0B3;
}
.shop .cartItem p{
    text-align: center;
    font-size: 17px;
    font-weight: 600;
}